extends layout

block content
  div
    div.row
      div.col-md-12
        table.table.table-striped
          thead
            tr
              th Factoid
              th Owner
              th Channel
              th Value
              th Creation Date
          tfoot
            tr
              th Total:
              td= factoids.length
              td
              td
              td
          tbody
            each factoid in factoids
              tr
                td= factoid.factoid
                td= factoid.owner
                td= factoid.channel
                td= factoid.content
                td= factoid.createdAt